<!-- <div class="tp-page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Login Page</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /.page header -->
<div class="tp-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Login Page</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      
      </div>
      <div class="col-md-offset-3 col-md-6 st-tabs"> 
        <!-- Nav tabs -->
        <!-- <ul class="nav nav-tabs" role="tablist"> -->
          <!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Vendor Login </a></li> -->
          <!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Couple login</a></li> -->
        <!-- </ul> -->
        
        <!-- Tab panes -->
        <div class="panel panel-default" style="border-radius: 0px;">
          <div class="panel-heading">Account Activation<% if resource.username %> for <%= resource.username %><% end %></div>
          <div class="panel-body">

            <%= render partial: "shared/flash_message" %>

						<%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form' do |f| %>
						<%= devise_error_messages! %>

							<% if @requires_password %>
							  <div class="form-group">
								  <% if @requires_password %>
								      <%= f.label :password,'Choose a Password:', class: "control-label" %> 
								      <%= f.password_field :password, :class => "form-control" %>
								  <% end %>
							  </div>
							  <div class="form-group">
									<%= f.label :password_confirmation,'Password Confirmation:', class: "control-label" %> 
									<%= f.password_field :password_confirmation, :class => "form-control" %>
									<%= hidden_field_tag :confirmation_token,@confirmation_token %>
							  </div>

							<% end %>

						  <div class="form-group">
						    <%= f.submit "Activate", class: "btn tp-btn-primary btn-block" %>
						  </div>
						<% end %>

						<hr/>

						<%= render "devise/shared/links" %>

          </div>
        </div>

      </div>
    </div>
  </div>