<div class="tp-page-head"><!-- page header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Pricing Plan</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Pricing Plan</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Pricing plan that best suits your wedding plan.</h1>
      </div>
      <div class="col-md-4 "><a href="#" class="btn tp-btn-primary tp-btn-lg pull-right"> Start Free Trial</a></div>
    </div>
    <div class="row pricing-container">
      <%= form_for @weddingpackage, url: wizard_path, method: :put do |f|%>

        <% @packages.each_with_index do |package, index| %>

          <div class="col-md-4 pricing-box <%= (index.to_i % 2 == 0) ? "pricing-box-regualr" : "pricing-box-top" %>">
            <div class="well-box">
              <h2 class="price-title"><%= package.package %></h2>
              <h1 class="price-plan"><span class="dollor-sign">&#8358</span><%= package.amount %><span class="permonth">/yr</span></h1>
              <p><%= package.description %></p>
              <%= f.hidden_field(:amount, :value => package.amount) %> 
              <%= f.hidden_field(:id, :value => package.id) %>
              <%= f.hidden_field(:package, :value => package.package) %>
              <%= f.hidden_field(:template, :value => params[:template_id]) %>
              
              <%= link_to "Select Plan", start_wedding_plan_path(id: "register",:template_id => params[:template_id], :package => package.id), class: "btn tp-btn-default tp-btn-lg" %>
            </div>
            <ul class="check-circle list-group">
              <% package.wedding_features.each do | feature | %>
                <li class="list-group-item"><% feature.features %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <% end %>
    </div>
    <div></div>
    <div class="row spacer">
      <div class="col-md-12 tp-title-center">
        <h1>Do you have a question ?</h1>
      </div>
      <div class="col-md-6 question-block">
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> Which payment methods are supported?</h2>
          <p>Sed lacinia lectus sedurna luctus interdumras commodo porttitor always faucibus Nullam sollicitudin ultriciesleo non viverra neque laoreet amazin  consectetur nisl sedblandit turpis enimac urabitur.</p>
        </div>
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> What uisque ulrices eficiturn interdum justo?</h2>
          <p>Sed lacinia lectus sedurna luctus interdumras commodo porttitor always faucibus Nullam sollicitudin ultriciesleo non viverra neque laoreet amazin  consectetur nisl sedblandit turpis enimac urabitur.</p>
        </div>
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> How ullam diissim nisiege luctus anteui?</h2>
          <p>Mauris metus leoelemetum condimentum tellus velornare dictum ligula uisque vestibulum molestieerat euleifend turpis fermentum quisras offer massaelit potentiorbi rhoncus pellen tesque exanibus. </p>
        </div>
      </div>
      <div class="col-md-6 question-block">
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> Can I cancel or refund my subscription?</h2>
          <p>Phasellus quislandit velitorbi aliquet vulputate sagittis usce lobortis velsit amet facilisis imperdiet Integer lacinia sodales eratonec dignissim felisa duivulputat a triiqu nullafelis rhoncus.</p>
        </div>
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> Why tibulum consectetur lorem sagittis?</h2>
          <p>Aenean varius ornare diamquis scelerisque. umsociis natoque penatibus etmagnis disarturientsitamet augue suscipit utfringilla velit sollicitudin In velest inturpis one sagittis interdu.</p>
        </div>
        <div class="question-answer">
          <h2><span class="question-sign">Q</span> Why sociis natoque magnis diaturient montes?</h2>
          <p>Lacinia lectus sedurna luctus interdumras commodo porttitor always faucibus Nullam interdum libero utfringilla cursus tortor magna consectetur nisl sedblandit turpis urabitur.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 feature-left">
        <div class="well-box">
          <div class="row">
            <div class="feature-icon col-md-2"><%= image_tag "envelop.svg", alt:"" %></div>
            <div class="feature-info col-md-10">
              <h3>Have questions? Contact us at</h3>
              <p>We're here to help, 24 hours a day, 7 days a week utfrit inturpis one sagittis interdu.<strong><a href="#"> support@weddingvemndor.com</a></strong></p>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 feature-left">
        <div class="well-box">
          <div class="row">
            <div class="feature-icon col-md-2"><%= image_tag "ballon.svg", alt:"" %></div>
            <div class="col-md-10 feature-info">
              <h3>Want to know how it works ?</h3>
              <p>Lacinia lectus sedurna luctus interdumras commodo pro utfringilla cursus tortor magna consectetur nisl sedblandit turpis <a href="#">Go to How it works.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>