
<div class="main-container">
  <div class="container">
  	
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2  well-box">
  			<div class="row">
  				<div class="col-md-12"><%= render 'shared/flash_message' %></div>
  			</div>

		  	<%= form_for @site, url: wizard_path, method: :put do |f| %>
	        <%= f.hidden_field(:wedding_package_id, :value => params[:package].present? ? params[:package] : session[:package]) %>
	        <%= f.hidden_field(:template_id, :value => params[:template_id].present? ? params[:template_id] : session[:template_id]) %>
	  			
	  			<div class="row">
	  				<div class="col-md-12"><%= render 'shared/form_error_message', f: f %></div>
	  			</div>

	  			<div class="row">

			  		<div class="col-md-6">

							  <div class="form-group">
							    <%= f.text_field :username, autofocus: true, class:"form-control", placeholder: "Enter Subdomain" %>
							  </div>
							  <div class="form-group">
							    <%= f.text_field :email, class:"form-control", placeholder: "Email Address" %>
							  </div>
							  <div class="form-group">
							    <%= f.text_field :bride_name, class:"form-control", placeholder: "Bride Name" %>
							  </div>
							  <div class="form-group">
							  	
							    <%= f.text_field :groom_name, class:"form-control", placeholder: "Groom Name" %>
							  </div>
							  <div class="form-group">
								  <div class='input-group date event-date'>
								  	<%= f.text_field :wedding_date, class: "form-control", placeholder: "Wedding Date" %>
						          <span class="input-group-addon">
						              <span class="glyphicon glyphicon-calendar"></span>
						          </span>
								  </div>

							  </div>
							  <div class="form-group">
								  <%= f.submit "Create Account", class: "btn tp-btn-primary tp-btn-lg" %>
								  <%= link_to "Restart", start_wedding_plan_index_path, class: "btn tp-btn-default tp-btn-lg" %>
							  </div> 			

			  		</div>

						<div class="col-md-6 text-center template-box">
							<a class="thumbnail-template reverse" data-template="<%= @template.to_json(include:[:colors]) %>" href="#" style="height:300px; margin:0">

								<div class="overlay center-content">
									<label class="btn btn-link btn-primary-hover"><%= "View #{@template.display_name}" %></label>
								</div>
								<%= image_tag "https://s3.amazonaws.com/wedding-ng/template/#{@template.url}.png", alt:"", class:"img-responsive", width:"100%" %>
							</a>							
						</div>			  		

	  			</div>
		  	<% end %>
  		</div>
  	</div>

  </div>
</div>