<div class="tp-page-head"><!-- page header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header" style="text-align:center">
          <h1>Start Your Wedding Plan, Choose a template</h1>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- /.page header -->
<div class="tp-breadcrumb"><!-- breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Choose a template</li>
        </ol>
      </div>
      <div class="col-md-4 text-right">
      <a class="btn tp-btn-link" role="button" data-toggle="collapse" href="#searchform" aria-expanded="false" aria-controls="searchform">Filter</a> 
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="container">

    <div class="row thumb_holder">
      <div class="col-md-12">
        <div class="row">
        	<!-- top -->
        	<!--
          <div class="col-md-12">
            <h2 class="gd-title">Choose Your Wedding Template</h2>
            <p>To start, select best template for your wedding website</p>            
          </div>
          -->

            <%= form_for @layout, url: wizard_path, method: :put do |f|%>

	            <% @templates.each do |template | %>
								<div class="col-xs-6 col-lg-4 text-center template-box">
									<a class="thumbnail-template reverse" data-template="<%= template.to_json(include:[:colors]) %>" href="#">

										<div class="overlay center-content">
											<label class="btn btn-link btn-primary-hover"><%= "View #{template.display_name}" %></label>
										</div>
										<%= image_tag "template/#{template.url}.png", alt:"", class:"img-responsive", width:"100%" %>
									</a>							
								</div>
							<% end %>

							<div class="col-md-12">
								<hr/>
								<div class="form-group">
									<%= f.submit "Continue", class: "btn btn-success" %>
								</div>
							</div>

            <% end %>              

        </div>        
      </div>

	    <div class="row">
	      <div class="col-md-12 tp-pagination">
	        <ul class="pagination">
	          <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>
	          <li class="active"><a href="#">1</a></li>
	          <li><a href="#">2</a></li>
	          <li><a href="#">3</a></li>
	          <li><a href="#">4</a></li>
	          <li><a href="#">5</a></li>
	          <li> <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a> </li>
	        </ul>
	      </div>
	    </div>      

    </div>

  </div>
</div>

<div id="template-preview" style="display:none">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Start with this design</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li><%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, {}, id:"close-template" %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="site-wrapper">
		<div id="device-bg"></div>
		<a class="btn btn-icon" id="toggle-navbar">
			<i class="icons-hide"></i>
		</a>
		<div class="center-content" id="iframe-preview">
			<iframe src=""></iframe>
		</div>
	</div>


</div>


<script type="text/javascript">
	$('#color-panel').minicolors({
		theme: 'bootstrap', 
		// defaultValue: '#b3b3b2',
		letterCase: 'uppercase',
		position: 'bottom left'
	});

	function icheck(){
	  if($(".icheck-me").length > 0){
	    $(".icheck-me").each(function(index){
	    	var $el = $(this);

	    	if (index == 0){ $el.attr('checked', true) }; //checked the first by default
	      
	      var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
	      color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
	      var opt = {
	        checkboxClass: 'icheckbox' + skin + color,
	        radioClass: 'iradio' + skin + color,
	      }
	      $el.iCheck(opt);
	    });
	  }
	}

	$(function(){ icheck() });
</script>


