<div class="main-container">
  <div class="container">
  <div class="row">

    <div class="col-md-9 widget">
      <div class="well-box">

		    <div class="row thumb_holder">
		      <div class="col-md-12">
	          <div class="row">
	            <div class="col-md-12">
	              <h2 class="gd-title">Our Story</h2>
	            </div>

							<%= form_for(@our_story, url: wizard_path, method: :put, class: "form-horizontal") do |f| %>
							  <div class="form-group">
								  <%= f.label :how_we_meet, class: "control-label" %>
								  <%= f.text_area :how_we_meet, class: "form-control summernote_min", size: "x5" %>
							  </div>
							  <div class="form-group">
							    <%= f.label :first_date, class: "control-label" %>
								  <%= f.text_area :first_date, class: "form-control summernote_min", size: "x5" %>
							  </div>
							  <div class="form-group">
							    <%= f.label :proposal, class: "control-label" %>
								  <%= f.text_area :proposal, class: "form-control summernote_min", size: "x5" %>
							  </div>
							  <div class="actions">
							    <%= f.submit "Continue" %>
							  </div>
							<% end %>

	          </div>
		      </div>

      	</div>
    	</div>
  	</div>

    <div class="col-md-3 shop-sidebar">
      <%= render partial: 'shared/listing_sidebar' %>
    </div>


	</div>
	</div>
</div>